{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        {% if not post.published_date %}
            <a href="{% url 'post_publish' pk=post.pk %}" class="article-menu-publish">
                {% include './icons/arrow-publish.svg' %}
            </a>
        {% endif %}
        <a href="{% url 'post_edit' pk=post.pk %}" class="article-menu">
            {% include './icons/pencil-fill.svg' %}
        </a>
        <a href="{% url 'post_remove' pk=post.pk %}" class="article-menu-remove">
            {% include './icons/trash-can-with-cover.svg' %}
        </a>
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        {# Support for comments.#}
    </article>
    {% if not post.comments.all %}
        {{ "No comments here yet." }}
    {% else %}
        <h3>{{ "Comments" }}</h3>
    {% endif %}
    {# Here add option inline with the others to add a comment. #}
    {#  Form to add a comment.  #}
    <div class="card-body">
        {% if new_comment %}
            <div class="alert alert-success" role="alert">
            Your comment is awaiting moderation
            </div>
        {% else %}
            <h5>Leave a comment</h5>
            <form method="post" style="margin-top: 1.3em;">
              {{ comment_form.as_p }}
              {% csrf_token %}
              <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
            </form>
        {% endif %}
    </div>
    {% for comment in post.comments.all %}
        {{ comment.content }}
        <p>
            On {{ comment.created_date }}&nbsp;
            <b>{{ comment.author }}</b> wrote:
        </p>
        <p>{{ comment.text }}</p>
        <hr>
    {% endfor %}
{% endblock %}
